<head>
<style>
    .outerContainer{
        margin:auto;
        margin-top:4vh;
        margin-bottom:4vh;
        max-width: 60vw;
        background-color: ghostwhite;
        display:flex;
        flex-direction: column;
    }
    .showContainer{
        display:grid;
        grid-template-areas:
            'Title Title MemberList'
            'MainContents MainContents MemberList'
            'MainContents MainContents MemberList'
        ;
        grid-auto-columns: minmax(20vw,auto);
        grid-auto-rows: minmax(20vh,auto);
    }
    .Title{
        grid-area:Title;
        font-size:5vw;
        text-align: center;
        background-color: rgb(153, 200, 218);
        padding: 20px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Title .infoSec{
        font-size:15px;
        display: flex;
        justify-content: space-between;
    }
    .MainContents{
        grid-area:MainContents;
        padding: 20px;
    }
    .MemberList{
        grid-area:MemberList;
        display: flex;
        flex-direction: column;
        background-color: rgb(180, 192, 198);
    }
    .MemberList div{
        flex: 1;
        padding:2px 5px 2px 5px;
        border-top:solid grey 0.5px;
    }
    .MemberList .king{
        background-color: blanchedalmond;
        border-top:none;
    }
    .JoinButton{
        background-color:aqua;
        grid-auto-columns: minmax(25vw,auto);
        min-width: 25vw;
        max-width: auto;
        height: 3.5em;
        text-align: center;
        padding:0.85em;
    }

</style>

</head>
<body>

<!--전체-->
<div class="outerContainer">
<div class="showContainer">
    <div class="Title">
        <%= @suup.title %>
        <div class="infoSec">
            <div class="info">n명이 좋아합니다</div>
            <div class="info">마감까지 x명 남았습니다!</div>
        </div>
    </div>
    <div class="MainContents">
        <%if @suup.content === nil %>
            수업내용 : 수업 내용을 입력하세요!
        <%else%>
            <%= @suup.content %>
        <%end%>
    </div>
    <div class="MemberList">
        <div class="king">멘토정보(방장)</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
    </div>
</div>    
<div class="JoinButton">
    <span>수강신청!</span>
</div>
</div>


</body>

