<head>
<style>
    .outerContainer{
        position:relative;
        left:2em;
        margin:5vh 10vw 20px 10vw;
        max-width:60vw;
    }
    .showContainer{
        display:grid;
        grid-template-areas:
            'Title Title MemberList'
            'MainContents MainContents MemberList'
            'MainContents MainContents MemberList'
        ;
        grid-auto-columns: minmax(25vw,auto);
        grid-auto-rows: minmax(20vh,auto);
    }
    .Title{
        grid-area:Title;
        background-color: red;
    }
    .MainContents{
        grid-area:MainContents;
        background-color: green;
    }
    .MemberList{
        grid-area:MemberList;
        background-color: blue;
    }
    .JoinButton{
        display:flex;
        align-items: stretch;
        background-color:aqua;
    }

</style>

</head>
<body>

<!--전체-->
<div class="outerContainer">
<div class="showContainer">
    <div class="Title">타이틀Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, in!</div>
    <div class="MainContents">매안ㅋㅎㄴ탠추Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora officiis possimus eos iste expedita minima sapiente doloremque nisi perspiciatis, deleniti nobis quos quia similique minus distinctio maiores necessitatibus fuga aut, maxime ut sed inventore? Ipsa eligendi cumque aliquid, minima, porro iure veritatis odit neque deserunt voluptatibus expedita saepe nam tenetur sed itaque molestiae pariatur ratione! Sequi maxime est eum, neque ab enim et, incidunt minima labore laudantium repellat reprehenderit eligendi non iusto. Delectus dolor natus officiis praesentium aperiam quos consequuntur, voluptates eos omnis laudantium fugit dolorem sed. Eos voluptatem perferendis velit ea, laboriosam iusto repudiandae voluptates illum sequi libero explicabo?</div>
    <div class="MemberList">
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
        <div>멤바1</div>
    </div>
</div>    
<div class="JoinButton">조인버튼</div>
</div>


</body>

