<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <style>
        li {
            display: inline-block;
        }
    </style>
</head>


<h1>제목 : <%= @suup.title %></h1>
<hr>
<div class="info">
    <i class="fa fa-map-marker" style="font-size:5rem; margin-right:69px;"></i>
    <i class="fa fa-clock-o" style="font-size:5rem; margin-right:69px;"></i>
    <i class="fa fa-users" style="font-size:4.5rem; margin-right:69px;"></i>
    <i class="fa fa-phone" style="font-size:5rem; margin-right:69px;"></i>
    <ul type="none">
    <li>
    <h3 style="margin-right:69px">강남</h3>
    </li>
    <li>
        2시간
    </li>
    </ul>
</div>