<!DOCTYPE html>
<html lang="en">

<head>
  <title>공개처형</title>
</head>



<body>
  
  <h1>공개처형이 들어갈 공간입니다</h1>




  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<h
