<!DOCTYPE html>
<!-- Custome fonts added by donggyu -->
<html lang="en">
<head>
  <title>메인페이지</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css"
</head>

<body>
        <div class="mentorank">
            <div class="mentorank-2">
                멘토랭킹
            </div>
        </div>
        <div class="classrank">
            <div class="mentorank-2">
                클래스랭킹
            </div>
        </div>
    <div class="newests">
        <div class="newests-2">
                최신글
        </div>
    </div>
</body>

</html>