<DOCTYPE html!>
<html>
 <head>
    <style>
        .mypage {
            /*margin: 0px 200px 0px 0px;*/
        }
        .profile {
            padding:20px 20px 0px 20px;
            display:flex;
        }
        .image {
            padding:100px 0px 100px 150px;
            text-align:center;
        }
        img {
             border-radius: 300px;
         }
         .writing {
             padding:100px 70px 70px 70px;
             margin:50px 50px 50px 0px;
             width:500px;
         }
         .mentoring {
             display:flex;
             padding: 0px 200px 100px 150px;
         }
         h4 {
             padding: 20px 20px 20px 150px;
         }
         td {
             width: 300px;
         }
         table,tr,td{
             border:1px solid #f3f1f1;
             background: #f3f1f1;
         }
         .aa {
             border-bottom: 5px solid white;
         }
         .ab {
             border-bottom: 3px solid white;
         }
         .bb {
             border-right: 2px solid white;
         }
    </style>
     
 </head>
 <body>
    <div class="mypage">
      
      <div class="profile">
        <div class="image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0_2nqm0H20gpO-Pf9BsBwuAYt3McWcb-6rFs37i244h71Lyrnkg" width="200px" height="200px">
          <br>
          <활발한 멘토>
        </div>
        <div class="writing">
          <ul type="none">
              <a href="/mentorrq/index">멘토신청하러가기</a>
              <li>이름 : 이동규</li>
              <li>학과 : 국제경영학과</li>
              <li>학번 : 32132552</li>
              <li>성별 : 남</li>                 <li>관심분야 : 코딩, 자바스크립트, 개발자, 소프트웨어, 경제학</li>
          </ul>
        </div>
      </div>
      
      <h4>현재 운영중인 멘토링</h4>
      
      <div class="mentoring">
        <table>
          <tr class="aa">
            <td class="bb">
            과목
            </td>
            <td>
            멘티
            </td>
          </tr>
          <tr class="ab">
            <td class="bb">
            기초경영학
            </td>
            <td>
            3 
            </td>
          </tr>
          <tr class="ab">
            <td class="bb">
            지속가능경영
            </td>
            <td>
            2
            </td>
          </tr>
        </table>
      </div>
    </div>
 </body>        
        
</html>