/*#mainNav{*/
/*    background-color: white;*/
/*    border-bottom:1px solid black!important;*/
/*    z-index:2;*/
/*    position:fixed;*/
/*    width:100%;*/
/*    display:block;*/
/*}*/

/*.navbar{*/
/*    background-color: #e3f2fd;*/
/*}*/

/*.navbar-nav li a{*/
/*    color:black!important;*/
/*}*/

#mainContents{
    position:relative;
    display:inline-block;
}

.sidnav{
    height: 100%;
    position:fixed;
    z-index:1;
    overflow-x:hidden;
    padding-top:30px;
    display:inline-block;
    float:right;
    
}

div.sidnav a{
    text-align:center!important;
    display:block;
    font-size: 15px;
    color: black;
    text-decoration:dotted;
    padding: 6px 1px 6px 1px;
}

.aba{
    float: right !important;
}

