


.mentorank{
    display:inline-block;
    /*height:250px;*/
    width : 480px;
    margin-left:110px;
    margin-right:25px;
    border: 1px solid black; 
}

.mentorank-2{
    text-align:right;
    background-color: white;
}




.classrank{
    display:inline-block;
    /*height:250px;*/
    width : 480px;
    margin-right:100px;
     border: 1px solid black; 
}

.classrank-2{
    text-align:right;
    background-color: white;
}

.newests{
    display:block;
    /*height:250px;*/
    width : 990px;
    margin:auto;
    margin-top:30px;
     border: 1px solid black; 
}

.newests-2{
    text-align:right;
    background-color: white;
}

