  ::scrollbar {
    display: none;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }



#galleryWrapper p {
    white-space: normal!important;
}

#galleryWrapper {
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
   background: hsla(0, 0%, 88%, 0.73);
  height: 100%;
  width: 100%;
}


#imageWrapper {
  /*display: flex;*/
  /*height: 400px;*/
  margin: 3px auto 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90%;
}

#prevThumb, #nextThumb {
  position: absolute;
  top: 50%;
}

#prevThumb {
  left: 0;
}

#nextThumb {
  right: 0;
}

.scbtn {
  background: transparent;
  border: none;
  color: #DF1E25;
  cursor: pointer;
  font-size: 1.4em;
  height: 40px;
  opacity: .5;
  outline: none;
  width: 40px;
}
  .scbtn:hover {
    opacity: 1;
  }

.pkmn {
  margin: 4px;
  width: 96px;
  display: inline-block;
}



  #p1 {
    background-position: 0 0;
  }

  #p2 {
    background-position: -96px 0;
  }

  #p3 {

    background-position: -182px 0;
  }

  #p4 {
    background-position: -288px 0;
  }

  #p5 {
    background-position: -384px 0;
  }

  #p6 {
    background-position: -480px 0;
  }

  