<head>
<style>
    #mainContents{
        text-align:center;
        line-height: 3em;
        background-color: rgb(0, 255, 255, 0.35);
        padding:15px;
    } 
    #mainContents a{
        color:black;
        padding:7px;
        border: 1px solid black;
        border-radius: 3px;
    }   
    
</style>
</head>

<h1>관리자페이지</h1>

<%= link_to  "1. 멘토등업신청", admin_mentorrq_path %><br>
<%= link_to  "1. 멘토등업신청", admin_mentorrq_path %><br>
<%= link_to  "단토단티 메인으로", main_url %>