<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    
    .table {
      border-collapse: collapse;
      line-height: 1.5;

    }
    .table thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
        text-align: center;
    }
    .table tbody th {
        width: 50px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        background: #f3f6f7;
        text-align: center;
    }
    .table td {
        width: 350px;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    
    
    .rmf {
      width :700px;
    }
    
  </style>
  
</head>
<body>
<h1>멘토신청게시판에 온 여러분을 환영합니다!!</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col" class="rmf">글</th>
      <th scope="col">작성자</th>
    </tr>
  </thead>
  <tbody>
  
      <% @allrecord.each do |d| %>
        <tr>
          <th scope="row"><%= d.id %></th>
          <td><a href="/mentorrq/show/<%= d.id %>"><%= d.content %></td></a>
          <td><%= d.name %></td>
        </tr>
      <% end %>    
    
  </tbody>
</table>
<br>
<button><a href="/mentorrq/write">멘토신청하러가기</a></button>

<script src="js/jquery-3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>