<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    
  .rmf { 
    width :300px;
  }  
    
  </style>
  
</head>
<body>
<div>
<table class="table" style="width:50%; margin:auto; text-align:center;">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col" class="rmf">글</th>
      <th scope="col">작성자</th>
    </tr>
  </thead>
  <tbody>
  
      <% @allrecord.each do |d| %>
        <tr>
          <th scope="row"><%= d.id %></th>
          <td><a href="/mentorrq/show/<%= d.id %>"><%= d.content %></td></a>
          <td><%= d.name %></td>
        </tr>
      <% end %>    
    
  </tbody>
</table>
</div>
<br>
<a href="/mentorrq/write"><button>멘토신청하러가기</button></a>

<script src="js/jquery-3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>