  <div class="jumbotron">
    <h3>질문자 : <%= @email.email %></h3>
    <hr class="my-4">
    <p><%= @s_content %></p>

    
     <a href="/mentorrq/edit/<%= @findone.id %>">수정하기</a> <!--출력-->
     <a href="/mentorrq/delete/<%= @findone.id %>">삭제하기</a>

     <a href="/main/mypage">돌아가기</a>
    
    
  </div>