  <div class="jumbotron">
    <h3>질문자 : <%= @post.user.email %></h3>

    <hr class="my-4">

    <p><%= @post.content %></p>
    
     <a href="/mentorrq/edit/<%= @post.id %>">수정하기</a>
     <a href="/mentorrq/delete/<%= @post.id %>">삭제하기</a>
     <a href="/main/mypage">돌아가기</a>
  </div>