<h1>여기는 멘토신청 페이지 입니다.</h1>
<form action="/mentorrq/create" method="get">
  <div class="form-group">
    <label for="exampleFormControlInput1">작성자</label></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="멘토의 이름을 입력하세요." name="name"> 
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">신청내용</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
  </div>
  
  <button type="submit">제출하기!</button>
</form>