<h1>공개처형</h1>
<a href="/public/write">신고하기</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
    </tr>
  </thead>
  <tbody>
     <% @allrecord.each do |d| %>
        <tr>
          <th scope="row"><%= d.id %></th>
          <td><a href="/public/show/<%= d.id %>"><%= d.title %></a></td>
        </tr>
    <% end %>
  </tbody>
</table>