<h1>여기는 입력양식 페이지 입니다.</h1>
<form action="/public/create" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">이름</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">학과</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="major">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">학번</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="number">
  </div>
  
  <!--<div class="form-group">
    <label for="exampleFormControlTextarea1">내용</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
  </div>-->
  
  
  <button type="submit">제출하기!</button>
</form>