<!--footer입니다-->
<head>
<style>
    footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        padding:10px 30px 10px 30px;
        border-top: 1px solid,azure;
        text-align:end;
    }
</style>
</head>

<footer class="order-1">
    <div>DANODANTI represented by LikeLion 2018 DKU</div>
    <div>사업자정보 - none now</div>
</footer>