<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap4 CDN (새로추가된 것!) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>



<body class="bg-light">
  <!-- 상단 네브바 -->
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 bg-light" id="mainNav">
      <!--<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/menu/main">단토단티</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        
        <!--로고-->
        <div class="col-3">
          <a href="/menu/main">
            <img src="/img/logo.png" alt="dantodantilogo" height="auto" width="100px">
          </a>
        </div>
        
        <!--메인메뉴-->
        <div class="container col-6 d-flex justify-content-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link navbar-brand" href="/menu/main"><img src="/svg/001-smiley.svg" align="middle" height="20px" width="auto">홈으로</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-brand" href="/menu/mentoring"><img src="/svg/005-cool.svg" align="middle" height="20px" width="auto">멘토링</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-brand" href="/menu/execution"><img src="/svg/002-devil.svg" align="middle" height="20px" width="auto">공개처형</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-brand" href="/users/edit"><img src="/svg/006-emotion.svg" align="middle" height="20px" width="auto">내정보</a>
          </li>
        </ul>
        </div>
        
        <!--사용자정보 및 로그인/아웃-->
        <div class="col-3 d-flex justify-content-right">
              <% if user_signed_in? %>
              <a class="nav-item col"><img src="/img/profile1.png" height="20px" width="auto" style="border-radius:50%">김순후 | 멘티</a>
              <a class="nav-item col" href="/users/sign_out">로그아웃</a>
              <% else %>
              <a class="nav-item col"><img src="/img/profile1.png" height="20px" width="auto" style="border-radius:50%">김순후 | 멘티</a>
              <a class="nav-item col" href="/users/sign_in">로그인</a>
              <% end %>
        </div>
      </div>
  </nav>
  <!--네브바끝-->
    
    
  <div class="container-fluid">
    <!--최상단-->
    <div class="row bg-dark px-5" style="color:white; text-align:center; font-size:1.3rem;">
      <div class="col-3">
        <!--프로필사진-->
        <img class="img my-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0_2nqm0H20gpO-Pf9BsBwuAYt3McWcb-6rFs37i244h71Lyrnkg" width="200px" height="200px" style="border-radius: 300px;">
      </div>
      <div class="col p-4 m-auto">
        <!--하트아이콘-->
        <img src="/svg/heart.svg" align="middle" height="50px" width="auto"> 
        <br> 
          <strong>50</strong>
      </div>
      <div class="col p-4 m-auto" >
        <b>멘티 50명</b>
      </div>
      <div class="col p-4 m-auto">
        <strong>인기도 120</strong>
      </div>
      <div class="col-3 p-4 m-auto">
        이동규<br>
        국제경영학과<br>
        32132552<br>
        
        <a class="btn btn-primary" href="/users/edit" role="button">수정하기</a>
      </div>
    </div>
    
    <!--메인컨텐츠(클래스,질답목록)-->
    <div class="row mx-5 my-3">
      <!--운영중인 멘토링 클래스-->
      <h5>현재 운영중인 멘토링</h5>
      <table class="table table-sm table-bordered table-dark" style="text-align:center;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">수업명</th>
            <th scope="col">수업내용</th>
            <th scope="col">학생수 (0/20)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      
      
      
      
    </div>
  </div>
    
</body>
</html>
